
build/
logs/
preview/
icons/
installation.yaml
user.yaml

weasel*
squirrel*
*custom.*
custom_*
*.userdb/
luna*

*.txt
tmp_bak/
zipped_ext_dicts/
lua/colloctions/
*.exe
*.bat
*.lnk

.stfolder/
.stignore
