
# Rime's user-specified files
build/
logs/
preview/
icons/
installation.yaml
user.yaml

# Rime distribution's files and custom files
weasel*
squirrel*
*custom.*
custom_*
*.userdb/

# My own used files
/*.txt
tmp_bak/
*.bak
zipped_ext_dicts/
lua/collections/
tools/dict/old/
tools/dict/output/
*.exe
*.bat
*.lnk

# Syncthing used files
.stfolder/
.stignore

# Files excluded for now, may add back when needed later
grammar.yaml
*.gram
空明.trime.yaml
flypy_light.*.yaml
#kmm.*.yaml
kongmingma*dict*
kongmingma_phony*
/*.db
